# Here we will format the draw data

In [10]:
import pandas as pd
import numpy as np
from ML_setup_func.py import *
%matplotlib inline
from platform import python_version
print(python_version())

3.7.11

In [ ]:
## we are setting the how far the ml will be able to look back at historical data  
lookback = 700

In [2]:
"""loading the data file ('Lot_data.csv') from data folder
"""
data_TOTAL = pd.read_csv('data/Lot_data.csv')
data_TOTAL['Date']= pd.to_datetime(data_TOTAL['Date']) # formating data column

data_TOTAL

,Date,Ball 1,Ball 2,Ball 3,Ball 4,Ball 5,Lucky Star 1,Lucky Star 2
0,2021-04-15,0,0,0,0,0,0,0
1,2021-12-04,21,30,31,35,47,2,10
2,2021-08-04,1,15,16,38,45,4,11
3,2021-05-04,1,11,13,24,49,5,6
4,2021-01-04,2,7,21,31,45,4,10
...,...,...,...,...,...,...,...,...
1514,2004-12-03,15,24,28,44,47,4,5
1515,2004-05-03,4,7,33,37,39,1,5
1516,2004-02-27,14,18,19,31,37,4,5
1517,2004-02-20,7,13,39,47,50,2,5
1518,2004-02-13,16,29,32,36,41,7,9

In [3]:
""" we want to stack the draw dates back to back for each,
this will let us have historycal data for each draw we want to calculate.
    """
TOTAL_DATA = Data_formed_and_stacked(data_TOTAL = data_TOTAL,lstack=lookback)
TOTAL_DATA

,Date,Ball_1,Ball_2,Ball_3,Ball_4,Ball_5,Lucky_Star_1,Lucky_Star_2,Date_1,Ball_1_1,...,Lucky_Star_1_699,Lucky_Star_2_699,Date_700,Ball_1_700,Ball_2_700,Ball_3_700,Ball_4_700,Ball_5_700,Lucky_Star_1_700,Lucky_Star_2_700
0,2021-04-15,0,0,0,0,0,0,0,2021-12-04,21,...,6,9,2015-07-28,23,32,36,43,49,7,8
1,2021-12-04,21,30,31,35,47,2,10,2021-08-04,1,...,7,8,2015-07-24,2,9,21,35,46,2,11
2,2021-08-04,1,15,16,38,45,4,11,2021-05-04,1,...,2,11,2015-07-21,14,20,27,29,44,7,10
3,2021-05-04,1,11,13,24,49,5,6,2021-01-04,2,...,7,10,2015-07-17,1,21,22,43,48,7,9
4,2021-01-04,2,7,21,31,45,4,10,2021-03-29,8,...,7,9,2015-07-14,6,18,19,34,36,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,2014-06-24,1,7,20,21,48,4,7,2014-06-20,5,...,4,9,2004-12-03,15,24,28,44,47,4,5
815,2014-06-20,5,15,25,38,49,1,2,2014-06-17,11,...,4,5,2004-05-03,4,7,33,37,39,1,5
816,2014-06-17,11,13,37,40,48,8,9,2014-06-13,16,...,1,5,2004-02-27,14,18,19,31,37,4,5
817,2014-06-13,16,18,22,28,46,9,11,2014-10-06,12,...,4,5,2004-02-20,7,13,39,47,50,2,5
818,2014-10-06,12,18,21,32,33,1,11,2014-06-06,7,...,2,5,2004-02-13,16,29,32,36,41,7,9

In [4]:
TOTAL_DATA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 818
Columns: 5608 entries, Date to Lucky_Star_2_700
dtypes: datetime64[ns](701), object(4907)
memory usage: 35.0+ MB

In [5]:
TOTAL_DATA = form_dateDIFF(TOTAL_DATA)

/Users/hardiquemanilal/opt/anaconda3/envs/TSenv/lib/python3.7/site-packages/ipykernel_launcher.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

/Users/hardiquemanilal/opt/anaconda3/envs/TSenv/lib/python3.7/site-packages/ipykernel_launcher.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if sys.path[0] == '':

In [6]:
TOTAL_DATA

,Date,Ball_1,Ball_2,Ball_3,Ball_4,Ball_5,Lucky_Star_1,Lucky_Star_2,Date_1,Ball_1_1,...,Lucky_Star_1_699,Lucky_Star_2_699,Date_700,Ball_1_700,Ball_2_700,Ball_3_700,Ball_4_700,Ball_5_700,Lucky_Star_1_700,Lucky_Star_2_700
0,2383,0,0,0,0,0,0,0,-233,21,...,6,9,2088,23,32,36,43,49,7,8
1,2616,21,30,31,35,47,2,10,122,1,...,7,8,2325,2,9,21,35,46,2,11
2,2494,1,15,16,38,45,4,11,92,1,...,2,11,2206,14,20,27,29,44,7,10
3,2402,1,11,13,24,49,5,6,120,2,...,7,10,2118,1,21,22,43,48,7,9
4,2282,2,7,21,31,45,4,10,-84,8,...,7,9,2001,6,18,19,34,36,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,-104,1,7,20,21,48,4,7,4,5,...,4,9,3490,15,24,28,44,47,4,5
815,-108,5,15,25,38,49,1,2,3,11,...,4,5,3700,4,7,33,37,39,1,5
816,-111,11,13,37,40,48,8,9,4,16,...,1,5,3763,14,18,19,31,37,4,5
817,-115,16,18,22,28,46,9,11,-115,12,...,4,5,3766,7,13,39,47,50,2,5
818,0,12,18,21,32,33,1,11,122,7,...,2,5,3888,16,29,32,36,41,7,9

In [7]:
# formating data to integers 64 bit 
TOTAL_DATA[TOTAL_DATA.columns] = TOTAL_DATA[TOTAL_DATA.columns].applymap(np.int64)
TOTAL_DATA

,Date,Ball_1,Ball_2,Ball_3,Ball_4,Ball_5,Lucky_Star_1,Lucky_Star_2,Date_1,Ball_1_1,...,Lucky_Star_1_699,Lucky_Star_2_699,Date_700,Ball_1_700,Ball_2_700,Ball_3_700,Ball_4_700,Ball_5_700,Lucky_Star_1_700,Lucky_Star_2_700
0,2383,0,0,0,0,0,0,0,-233,21,...,6,9,2088,23,32,36,43,49,7,8
1,2616,21,30,31,35,47,2,10,122,1,...,7,8,2325,2,9,21,35,46,2,11
2,2494,1,15,16,38,45,4,11,92,1,...,2,11,2206,14,20,27,29,44,7,10
3,2402,1,11,13,24,49,5,6,120,2,...,7,10,2118,1,21,22,43,48,7,9
4,2282,2,7,21,31,45,4,10,-84,8,...,7,9,2001,6,18,19,34,36,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,-104,1,7,20,21,48,4,7,4,5,...,4,9,3490,15,24,28,44,47,4,5
815,-108,5,15,25,38,49,1,2,3,11,...,4,5,3700,4,7,33,37,39,1,5
816,-111,11,13,37,40,48,8,9,4,16,...,1,5,3763,14,18,19,31,37,4,5
817,-115,16,18,22,28,46,9,11,-115,12,...,4,5,3766,7,13,39,47,50,2,5
818,0,12,18,21,32,33,1,11,122,7,...,2,5,3888,16,29,32,36,41,7,9

In [8]:
# save data in to data file as 'ML_data.csv' and drop index from pandas DataFrame
TOTAL_DATA.to_csv('data/ML_data.csv', index=False)

In [9]:
TOTAL_DATA

,Date,Ball_1,Ball_2,Ball_3,Ball_4,Ball_5,Lucky_Star_1,Lucky_Star_2,Date_1,Ball_1_1,...,Lucky_Star_1_699,Lucky_Star_2_699,Date_700,Ball_1_700,Ball_2_700,Ball_3_700,Ball_4_700,Ball_5_700,Lucky_Star_1_700,Lucky_Star_2_700
0,2383,0,0,0,0,0,0,0,-233,21,...,6,9,2088,23,32,36,43,49,7,8
1,2616,21,30,31,35,47,2,10,122,1,...,7,8,2325,2,9,21,35,46,2,11
2,2494,1,15,16,38,45,4,11,92,1,...,2,11,2206,14,20,27,29,44,7,10
3,2402,1,11,13,24,49,5,6,120,2,...,7,10,2118,1,21,22,43,48,7,9
4,2282,2,7,21,31,45,4,10,-84,8,...,7,9,2001,6,18,19,34,36,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,-104,1,7,20,21,48,4,7,4,5,...,4,9,3490,15,24,28,44,47,4,5
815,-108,5,15,25,38,49,1,2,3,11,...,4,5,3700,4,7,33,37,39,1,5
816,-111,11,13,37,40,48,8,9,4,16,...,1,5,3763,14,18,19,31,37,4,5
817,-115,16,18,22,28,46,9,11,-115,12,...,4,5,3766,7,13,39,47,50,2,5
818,0,12,18,21,32,33,1,11,122,7,...,2,5,3888,16,29,32,36,41,7,9